/* --- Theme Switcher --- */
.darkmode {
  --primaryColor: #fe8b55;
  --secondaryColor: #29572d;
  --darkColor: #333;
  --lightColor: #ffffff;

  --textColor: var(--lightColor);
  --linkColor: var(--lightColor);

  --backgroundColor: var(--darkColor);
  --secondaryBackgroundColor: var(--secondaryColor);
  --hightlightColor: var(--primaryColor);

  --divider: var(--lightColor) 1px solid;
  --dottedDivider: var(--lightColor) 1px dotted;
}

#themeSwitcher {
  height: 30px;
  aspect-ratio: 1/1;
  width: auto;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
#themeSwitcher:hover {
  background-color: var(--secondaryColor);
  transition: 0.4s;
}

#moonIcon {
  display: inline;
}
#sunIcon {
  display: none;
}

body.darkmode #moonIcon {
  display: none;
}
body.darkmode #sunIcon {
  display: inline;
}

/* --- Scroll Animation ---
.scrollSection {
  height: 100vh;
  &:nth-child(even) {
    background-color: var(--secondaryBackgroundColor);
    color: #ffffff;
  }
} */

/* computer view */
/* @media (min-width: 600px) {
  .scrollWrapper {
    height: 78vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }
  .scrollSection {
    height: 100%;
    scroll-snap-align: start;
  }
} */
