/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

/* global const */
:root {
  --primaryColor: #4060ff;
  --secondaryColor: #fe8b55;

  --primaryColor-hover: #2740bd;

  --darkColor: #333;
  --lightColor: #f9f8ff;

  --textColor: var(--darkColor);
  --linkColor: var(--primaryColor);

  --backgroundColor: var(--lightColor);

  --hightlightColor: var(--primaryColor);

  --border-radius: 5px;

  cursor: default;
  scroll-behavior: smooth;
}

/*  --- General --- */

body {
  transition: background-color 0.4s, color 0.4s;
  background-color: var(--backgroundColor);
  color: var(--darkColor);
  font-family: Arial, Helvetica, sans-serif;
}
section {
  padding: 40px 0;
}

.innerContent {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}
/*  Headers  */
h1,
h2,
h3 {
  color: var(--textColor);
  text-transform: capitalize;
  padding-bottom: 0.5rem;
  font-family: "SUSE mono", sans-serif;
  font-style: normal;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: normal;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  font-size: max(18px, 1.3cqw);
}

h3 {
  font-weight: 400;
  margin-top: 15px;
  font-size: max(15px, 1.2cqw);
}

p {
  color: var(--textColor);
  font-size: max(13px, 1cqw);
  margin-top: 10px;
  margin-left: 10px;
  line-height: 150%;
}

li {
  color: var(--textColor);
  margin-bottom: 8px;
  list-style-type: none;
  margin-left: 20px;
  text-transform: capitalize;
  font-size: max(12px, 1cqw);
}

a {
  text-decoration: underline;
  color: var(--linkColor);
  transition: 0.4s;
}

a:hover {
  text-decoration: underline wavy;
  transition: 0.4s;
}

/* header */

header {
  display: inline-flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  gap: 1.5625rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--backgroundColor);

  h1 {
    color: var(--textColor);
    font-family: "SUSE Mono", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  a {
    text-decoration: none;
    :hover {
      text-decoration: none;
    }
  }
}

/* footer */
footer {
  padding: 15px;
  gap: 15px;
  background-color: var(--primaryColor);

  * {
    color: var(--lightColor);
  }
  a,
  p,
  li {
    margin: 0;
  }
}

/* introduction */
#intro {
  img {
    aspect-ratio: 9/12;
    object-fit: cover;
    height: 30cqw;
    width: auto;
    margin: 20px auto;
    min-height: 250px;
    border-radius: var(--border-radius);
  }
  a {
    color: #fff;
    font-family: "Inter", sans-serif;
    padding: 10px 15px;
    border-radius: 68px;
    background: var(--primaryColor);
    text-decoration: none;
    transition: 0.4s;
  }
  a:hover {
    background-color: var(--primaryColor-hover);
    padding: 10px 20px;
    text-decoration: none;
  }
  .tagline {
    font-style: italic;
    margin-bottom: 10px;
    color: var(--hightlightColor);
    font-family: "SUSE mono", sans-serif;
    font-size: max(18px, 1.3cqw);
  }
  .btn {
    margin: 2cqh 0;
    display: flex;
    align-items: flex-start;
    gap: 18px;
  }
}

/* about me */
.funFacts {
  background-color: var(--primaryColor);
  padding: 25px;
  border-radius: var(--border-radius);
  height: fit-content;

  h3,
  p {
    color: var(--lightColor);
  }
  h3 {
    margin: 0;
  }
}

/* skills */
#skills p {
  margin: 10px 0 25px 0;
}
#skills {
  background-color: hsla(240, 15%, 39%, 0.199);
}

/* projects */

#projects article {
  overflow-x: auto;
  width: 100%;
  padding: 10px 0;
}

#projects ul {
  display: flex;
  gap: 20px;
  margin: auto 0;
  width: max-content;

  li * {
    margin: 0;
  }
}

.projectCard {
  display: flex;
  width: 363px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  height: fit-content;
  * {
    color: var(--darkColor);
  }
}

.projectCard:hover {
  box-shadow: 0 4px 8px rgba(0, 38, 255, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
/* formatting */
.colorHighlight {
  color: var(--hightlightColor);
}

/* computer view */
@media (min-width: 600px) {
  #portait {
    min-height: 300px;
  }

  footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    ul {
      display: contents;
    }

    a,
    p {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
